<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Smooth Sky</h1>

    <h2>
      Dies ist ein privates Projekt zur Untersuchung der Möglichkeiten von
      <a href="http://de.wikipedia.org/wiki/Ruby_On_Rails">Ruby On Rails</a>
      . Wer das <a href="http://nichtlustig.de/">nicht lustig</a>
      oder zu
      <a href="http://nerdparadise.com/">nerdig</a>
      findet, kann sich zur Abwechslung mit dem 
      <a href="http://the-big-bang-theory.com//">Urknall</a>
      befassen.
    </h2>

    <%= link_to "Jetzt anmelden!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 